<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="~/Admin/WebAdmin/Index" class="brand-link">
        <img src="~/Content/image/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin Site</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/image/brandlogo.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="~/Home/Index" class="d-block">HOME PAGE</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Admin/Infoes/Index" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p>
                            Tour Package
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Admin/Countries/Index" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p>
                            Country
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Admin/Orders/Index" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Booking
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Admin/Customers/Index" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Account
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/Logout" class="nav-link">
                        <i class="nav-icon far fa-circle text-danger"></i>
                        <p class="text">Log out</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
