
.search_destination {
    margin-top: 80px;
    margin-bottom: 40px;
}

.search_destination .search-form {
    margin: auto;
    width: 40%;
}

.tour-details .col-md-10 .row .col-lg-8 h4 {
    margin-top: 24px;
}

.tour-details .col-md-10 .row .col-lg-8 p {
    color: #999999;
    font-weight: 400;
    line-height: 17px;
}

.list-group .list-title {
    text-align: center;
    font-size: 28px;
    font-family: 'Lato-Bold', sans-serif;
    list-style-type: none;
    margin: 8px;
}

.list-group-item .me-auto p {
    font-size: 24px;
}

.list-group li {
    padding-bottom: 0;
}

.list-group-item span {
    position: relative;
    left: 12%;
    font-size: 28px;
}

.list-group-item .btn-success {
    font-family: 'Lato-Regular', sans-serif;
    position: absolute;
    width: 100px;
    right: 8%;
    color: white;
    background-color: #38C860;
    border-color: #38C860;
    font-size: 16px;
    border-radius: 6px;
}

.tour-package {
    margin-top: 12px;
}

.tour-package p {
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    margin-top: 12px;
}

.tour-package-icon {
    width: 40px;
    height: 40px;
    background: #38C860;
    border-radius: 100px;
    margin: auto;
}

.tour-package-icon img {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.day-plans-container {
    margin-top: 28px;
}

.day-plans-container h5 {
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.plan-title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
}

.plan-content {
    margin-top: 20px;
}

.plan-content p, .plan-content ul {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #444444;
    font-weight: 400;
}

.plan-content ul {
    line-height: 1.75;
}
