
<footer>
    <img src="~/Content/image/Frame.png" alt="frame" class="center">
    <div class="row" style="margin-top: 30px">
        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-right: 0; padding-left: 0">
            <div class="search-container">
                <img src="~/Content/image/Rectangle%209.1.png" alt="" style="width:100%;">
                <div class="bottom-left"></div>
                <div class="top-left"></div>
                <div class="top-right"></div>
                <div class="bottom-right"></div>
                <div class="centered">
                    @*<h2>Discover Cities</h2>
                    <a href="#" class="btn btn-primary">DETAILS</a>*@
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-right: 0; padding-left: 0">
            <div class="search-container">
                <img src="~/Content/image/Rectangle%209.2.png" alt="" style="width:100%;">
                <div class="bottom-left"></div>
                <div class="top-left"></div>
                <div class="top-right"></div>
                <div class="bottom-right"></div>
                <div class="centered">
                    @*<h2>Discover Traditional</h2>
                    <a href="#" class="btn btn-primary">DETAILS</a>*@
                </div>
            </div>
        </div>
    </div>
    <img src="~/Content/image/Frame.png" alt="frame" class="center">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col" id="col-ft1">
                    <h6><strong>Language</strong></h6>
                    <div class="nav-item dropdown select-country">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/Content/image/us.png" alt=""> English (United States)
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#"><img src="~/Content/image/us.png" alt=""> English (United States)</a></li>
                            @*<li><a class="dropdown-item" href="#"><img src="~/Content/image/2.png" alt=""> Vietnamese</a></li>*@
                        </ul>
                    </div>
                    <!--                            <form action="/">-->
                    <!--                                <select name="language" id="language">-->
                    <!--                                    <option value="en">English (United States)</option>-->
                    <!--                                    <option value="vn">Vietnamese</option>-->
                    <!--                                </select>-->
                    <!--                            </form>-->
                    <br>
                    <h6><strong>Currency</strong></h6>
                    <div class="nav-item dropdown select-country">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/Content/image/$.png" alt=""> USD
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#"><img src="~/Content/image/$.png" alt=""> USD</a></li>
                            @*<li><a class="dropdown-item" href="#"><img src="~/Content/image/$.png" alt=""> VND</a></li>*@
                        </ul>
                    </div>
                    <!--                            <form action="/">-->
                    <!--                                <select name="currency" id="currency">-->
                    <!--                                    <option value="en">$ USD</option>-->
                    <!--                                    <option value="vn">~ VND</option>-->
                    <!--                                </select>-->
                    <!--                            </form>-->
                    <br>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col" id="col-ft2">
                    <h6 class="footer_title"><strong>About</strong></h6>
                    <ul class="footer_linklists">
                        <li><a href="" title="">About Gopanda.com</a></li>
                        <li><a href="" title="">Service Guarantee</a></li>
                        <li><a href="" title="">Careers</a></li>
                        <li><a href="" title="">Temrs of Use</a></li>
                        <li><a href="" title="">Privacy Statement</a></li>
                    </ul>
                    <br>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col" id="col-ft3">
                    <h6 class="footer_title"><strong>Other Service</strong></h6>
                    <ul class="footer_linklists">
                        <li><a href="" title="i">Investor Relations</a></li>
                        <li><a href="" title="">Gopanda Rewards Program</a></li>
                        <li><a href="" title="">Partners</a></li>
                    </ul>
                    <br>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col" id="col-ft4">
                    <h6 class="footer_title"><strong>Contact Us</strong></h6>
                    <ul class="footer_linklists">
                        <li><a href="/" title="Website Feedback">Website Feedback</a></li>
                        <li><a href="/" title="Customer Support">Customer Support</a></li>
                        <li>
                            <a href="" style="margin-right: 20px"><img src="~/Content/image/fb.png" alt=""></a><a href="" style="margin-right: 20px">
                                <img src="~/Content/image/twitter.png"
                                     alt="">
                            </a><a href=""><img src="~/Content/image/ins.png" alt=""></a>
                        </li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        </div>
        <div class="col-1"></div>
    </div>
</footer>

